@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.wrapper{
  /* background: #eee; */
  background: url('../assets/background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem;
  min-height: 100vh;
  min-height: 100dvh;
  display: grid;
  justify-content: center;
  align-items: center;
}

.form-wrapper{
  display: grid;
  background: rgba( 255, 255, 255, 0.2 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 8px );
  -webkit-backdrop-filter: blur( 8px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 0.5rem;
  height: 20rem;
  width: 20rem;
  border-radius: 10px;
}

#form{
  display: grid;
  gap: .5rem;
}

input {
  padding: .5rem;
  font-size: 12px;
  border: 0;
  border-radius: 10px;
}

input:focus, button:focus{
  outline: none;
}

span{
  font-size: 12px;
}

#submit{
  margin-top: 0.5rem;
  padding: 0.5rem;
  font-weight: 900;
  font-size: 16px;
  border-radius: 10px;
  border: 0;
  background: #D165B2;
  color: #eee;
  cursor: pointer;
}

#submit:hover{
  background: #cf28a0;
}



.resultado-wrapper{
  /* background-color: red; */
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

#resultado{
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resultado-texto{
  display: grid;
  justify-content: center;
}

#resetar{
  padding: 0.25rem;
  width: 100%;
  border: none;
  background-color: #f5f4f4;
  cursor: pointer;
  border-radius: 10px;
}

#resetar:hover{
  background-color: #ecebeb;

}

.erro{
  border: 1px solid #ff0000
}