@use 'colors';

section {
  padding: 56px 0;

  .products {
      margin-top: 40px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      column-gap: 1%;
      row-gap: 4%;
      width: 100%;
  
      .product-item {
          img {
          width: 100%;
          border-radius: 16px;
          }

          p {
            margin: .5rem 0;
          }
  
          .product-button {
              display: block;
              background-color: colors.$backgroundColor;
              color: colors.$white;
              text-align: center;
              padding: 8px 0;
              border-radius: 8px;
              margin-top: 8px;
              text-decoration: none;
              transition: background-color .2s ease-in;
  
              &:hover {
                  background-color: darken(colors.$backgroundColor, 10%);
              }
          }
      }
  }
}